*
  { 
      margin: 0; 
      padding: 0; 
      box-sizing: border-box;
  }

#top 
  {
			background-image: linear-gradient(to bottom,#f3f3f3,#ddd);
			border-bottom: 1px solid #333;
	}

.head 
  {
		  background-color: #f7f7f7;
		  background-image: url("../../../images/noisy_grid.png");
		  background-repeat: repeat;
		  border-bottom: 1px solid #333;
	}

.head .main-bar 
  {
		  margin-left: 220px;
		  position: relative;
	}

.head .main-bar 
  {
		  color: #BABABA;
		  font-size: 24px;
		  padding-top: 3px;
		  padding-bottom: 3px;
		  text-shadow: 0 1px 0 rgba(51, 47, 47, 0.6);
	}

#left 
  {
		  background-color: #f7f7f7;
		  display: block;
		  float: left;
		  position: relative;
		  width: 220px;
	}

#left #main 
  {
      color: #000;
      margin-left: 10px; 
      font-size: 18px;
  }

#menu 
  {
      line-height: 1;
  }

#menu li ul 
  {
      text-align:left;
      width: 220px;
  }
    
#menu li ul li a 
  {

      display: inline-block;
      padding: 8px 10px;
      position: relative;
      text-decoration: none;
      font-size: 11px;
      width: 220px;
      font-weight: bold;
  }

#Online-List a 
  {
      color: #2c2b2b;
  }

#Offline-List a 
  {
      color: #7e7d7d;
  }  

#menu li ul li a:hover 
  {
      color: #f00;
  }

#menu,
#menu ul 
  {
      list-style: none;
      margin: 0;
      padding: 0;
  }

#menu li,
#menu ul li 
  {
      display: block;
      margin: 0;
      padding: 0;
      position: relative;
  }

#menu,
#menu > li,
#menu > li > a 
  {
      border: 0 none;
      font: inherit;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
  }

#menu > li > a 
  {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      display: block;
      font-size: 14px;
      font-weight: bold;
      padding: 10px;
      position: relative;
      text-decoration: none;
  }

#Online > a 
  {
      color: #4c7319;
  } 

#Offline > a 
  {
      color: #a70a0a;
  }   
.lt-ie8 #menu > li > a > .label 
  {
      float: none;
      position: absolute;
      right: 2px;
      top: 10px;
  }

#menu > li > a:hover,
#menu > li.hover > a,
#menu > li.active > a 
  {
      color:#f00;
  }

.label 
  {
      display: inline;
      font-size: 75%;
      font-weight: 700;
      color: #fff;
      width: 25px;
      padding: 3px;
      text-align: center;
      white-space: nowrap;
      position: absolute;
      right: 5px;
      top: 7px;
      background-color: #829ab2; 
      vertical-align: baseline;
      -webkit-border-radius: 65px;
      -moz-border-radius: 65px;
      border-radius: 65px;
  }

#content 
  {
      margin-left: 220px;
      margin-right: 0;
      -webkit-transition: margin-left 0.4s;
      -moz-transition: margin-left 0.4s;
      -o-transition: margin-left 0.4s;
      transition: margin-left 0.4s;
      width: auto;
  }

#content .outer 
  {
      background-color: #f9fafa;
  } 

#content .outer .inner 
  {
      background-image: url("../../../images/ice_age.png");
      padding: 0;
  }

#chat-box 
  {
      border-radius: .35em;
  }

#room 
  {
      margin-top: 10px;
  }

 #room header 
  {
      -moz-border-radius-topleft: .35em;
      -webkit-border-top-left-radius: .35em;
      border-top-left-radius: .35em;
      -moz-border-radius-topright: .35em;
      -webkit-border-top-right-radius: .35em;
      border-top-right-radius: .35em;
      background-color: #ccc;
      padding: 3px 3px 3px 10px;
  }

#collapse4 
  {
      height: 100vh;
      max-height: 488px;
      background-color: #fff;
      border: solid #cfd0d0 1px;
      list-style-type: none; 
      margin: 0; 
      padding: 0;
      overflow:auto;
  }

#collapse4 .rightList { text-align: right; line-height: 30px;}
      #collapse4 .rightList .to { text-align: right;
                      position: relative; 
                      background-image: url("../../../images/img_s.png");
                      background-attachment: inherit;
                      background-repeat: no-repeat;
                      background-color: #4274ba;
                      -webkit-border-radius:5px;
                      -moz-border-radius:5px;
                      border-radius:5px;
                      padding: 5px;
                      color: #fff;
                      margin: 5px;
                      font-family: "Times New Roman", Times, serif;
                      font-size: 14px;
                      font-weight: 500;
                    }
      /* style venue chat */
      #collapse4 .leftList { text-align: left; line-height: 30px;}
      #collapse4 .leftList .from { text-align: left;
                      position: relative; 
                      background-color: #e6e7ec;
                      -webkit-border-radius:5px;
                      -moz-border-radius:5px;
                      border-radius:5px;
                      padding: 5px;
                      color: #000;
                      margin: 5px;
                      font-size: 14px;
                      font-weight: 500;
                      font-family: "Times New Roman", Times, serif;
                      background-image: url("../../../images/img_s.png");
                      background-repeat: no-repeat;
                      background-attachment: fixed;
                      background-position: 50px 100px; 
                    }   

      #message-box { background: #f9fafa; padding: 3px; border-top: solid #cfd0d0 1px; }
      #message-box input { border: solid #cfd0d0 1px;  padding: 10px; width: 88%; margin-right: .5%; }
      #message-box button { width: 10%; background: #f9fafa; color: #949499; border: none; 
                      font-family: "Times New Roman", Times, serif;
                      font-size: 16px;
                      font-weight: bold;
                  }
.msg_right 
  {
      display: inline;
      position: relative;
      right: 14px;
      bottom: -4px;
  } 

.msg_left 
  {
      display: inline;
      position: relative;
      left: 15px;
      bottom: -6px;
  }   