* 
  { 
      margin: 0; 
      padding: 0; 
      box-sizing: border-box; 
  }
      
body 
  { 
      font: 13px Helvetica, Arial; 
  }
      
form 
  { 
      background: #f9fafa; 
      padding: 3px; 
      position: fixed; bottom: 0;
      width: 100%; 
      border-top: solid #cfd0d0 1px; 
  }
      
form input 
  { 
      border: solid #cfd0d0 1px;  
      padding: 10px; width: 90%; 
      margin-right: .5%; 
  }
      
form button 
  { 
      width: 9%; 
      background: #f9fafa; 
      color: #949499; 
      border: none; 
      font-family: "Times New Roman", Times, serif;
      font-size: 16px;
      font-weight: bold;
  }
      
#messages 
  { 
      list-style-type: none; 
      margin: 0; 
      padding: 0; 
  }

#messages .rightList 
  { 
      text-align: right; 
      line-height: 30px;
  }
      
#messages .rightList .to 
  { 
      text-align: right;
      position: relative; 
      background-color: #4274ba;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      border-radius:5px;
      padding: 5px;
      color: #fff;
      margin: 5px;
      font-family: "Times New Roman", Times, serif;
      font-size: 14px;
      font-weight: 500;
  }

#messages .leftList 
  { 
      text-align: left; 
      line-height: 30px;
  }
      
#messages .leftList .from 
  { 
      text-align: left;
      position: relative; 
      background-color: #eeece9;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      border-radius:5px;
      padding: 5px;
      color: #000;
      margin-left: 7px;
      font-size: 14px;
      font-weight: 500;
      font-family: "Times New Roman", Times, serif;
  }   

.msg_right 
  {
      display: inline;
      position: relative;
      right: 14px;
      bottom: -4px;
  } 

.msg_left 
  {
      display: inline;
      position: relative;
      left: 15px;
      bottom: -6px;
  }                    