<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= member_name %></title>

	<link href="../../../css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../css/style.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<script src="../../../js/jquery.js"></script>
	<script src="../../../js/bootstrap.js"></script>

<script src="../../../socket.io/socket.io.js"></script>
<script>
  var socket = io();
  var chat = {};
  chat.venue_room =  '3to<%= member_id %>';
  chat.member_room =  '<%= member_id %>to3';
  chat.watch_status = 0;

  //when venue connection
  socket.emit('member_connection', {
      member: '<%= member_id %>',
      member_name: '<%= member_name %>',
      venue: 3
  });

    //check user already to talk (change read status when online together)
    socket.on('server', function(room , watch) {
        if (chat.member_room == room) {
            chat.watch_status = watch;
        }
    });
    function onSubmit() {
      var input = document.getElementById("m");
        if($('#m').val() != '') {
                    socket.emit('member_chat', { member: '<%= member_id %>',
                    to: '<%= member_name %>',
                    from: 'Clouds', 
                    venue: 3,
                    message: $('#m').val(),
                    read_status: chat.watch_status
                    });
        } else {
            alert('Please enter some message');
        }
      input.value = "";
      input.focus();
    }

    // load history log
    socket.on('history_log', function(data , member_room , venue_room){
          if(chat.member_room == member_room || chat.venue_room == venue_room) {
              $('#messages').text('');
          }

          for (var i = 0; i < data.length; i++) { 

              if(chat.venue_room == data[i].chat_room) {
                  $('#messages').append('<li class="leftList"><img class="msg_left" src="../../../images/img_l.png"> <span class="from">' + data[i].message + '</span> </li>');
              } else if (chat.member_room == data[i].chat_room) {
                  $('#messages').append('<li class="rightList"><span class="to">' + data[i].message + '</span> <img class="msg_right" src="../../../images/img_r.png"></li>');
              }

          }
    });     

    // venue message
    socket.on('venue_chat', function(room , msg){
        if(chat.venue_room == room) {
          $('#messages').append('<li class="leftList"><img class="msg_left" src="../../../images/img_l.png"> <span class="from">' + msg + '</span> </li>');
        }
    });    

    // member message
    socket.on('member_chat', function(room , msg){
        if(chat.member_room == room) {
          $('#messages').append('<li class="rightList"><span class="to">' + msg + '</span> <img class="msg_right" src="../../../images/img_r.png"></li></li>');
        }
    });   

        // disconnect server
    window.onbeforeunload = function () {
        //when venue connection
        socket.emit('member_disconnect', {
            member_id: '<%= member_id %>',
            member_name: '<%= member_name %>',
            venue: 3
        });

    };   
</script>
	    <ul id="messages"></ul>
<form onsubmit="onSubmit(); return false;">
    <input id="m" autocomplete="off" data-placeholder="Type a message..." /><button>Send</button>
</form>

</body>
</html>
