<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello World</title>
	<link href="../../../css/bootstrap.min.css" rel="stylesheet">
	<link href="../../../css/bootstrap.css" rel="stylesheet">
	<link href="../../../css/chat.css" rel="stylesheet">
    <script src="../../../js/jquery-2.1.1.min.js"></script>
    <script src="../../../js/jquery.js"></script>
    <script src="../../../js/bootstrap.js"></script>
    <script src="../../../socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      var chat = {};
      chat.watch_status = 0;
        //when venue connection
        socket.emit('venue_connection', {
            venue_id: '<%= venue_id %>',
            venue_name: '<%= venue_name %>'
        });

        //check user already to talk (change read status when online together)
        socket.on('server', function(room , watch) {
            if (chat.venue_room == room) {
                chat.watch_status = watch;
            }
        });

        // member online
        socket.on('member_online', function(data){
            $('#Online-List').text('');
            for (i = 0; i < data.length; i++) { 
                if(data[i].total_log == 0) {
            $('#Online-List').append('<li><a id="'+ data[i].member_id +'" name="'+ data[i].first_name +' '+ data[i].last_name +' " href="#" onclick="switchRoom(this)"> '+ data[i].first_name +' '+ data[i].last_name +' </a> </li>');
                } else {
            $('#Online-List').append('<li><a id="'+ data[i].member_id +'" name="'+ data[i].first_name +' '+ data[i].last_name +' " href="#" onclick="switchRoom(this)"> '+ data[i].first_name +' '+ data[i].last_name +' </a> <span class="label">'+ data[i].total_log +'</span> </li>');
                }
            }
        });

        // member offline
        socket.on('member_offline', function(data){
            $('#Offline-List').text('');
            for (i = 0; i < data.length; i++) { 
                if(data[i].total_log == 0) {
            $('#Offline-List').append('<li><a id="'+ data[i].member_id +'" name="'+ data[i].first_name +' '+ data[i].last_name +' " href="#" onclick="switchRoom(this)"> '+ data[i].first_name +' '+ data[i].last_name +' </a> </li>');
                } else {
            $('#Offline-List').append('<li><a id="'+ data[i].member_id +'" name="'+ data[i].first_name +' '+ data[i].last_name +' " href="#" onclick="switchRoom(this)"> '+ data[i].first_name +' '+ data[i].last_name +' </a> <span class="label">'+ data[i].total_log +'</span></li>');
                }
            }
        });        

        function switchRoom(room){
        chat.old_room  = chat.member_id + 'to<%= venue_id %>';
        chat.member_id = room.id;
        chat.member_name = room.name;
        chat.venue_room = '<%= venue_id %>to'+ room.id;
        chat.member_room = room.id + 'to<%= venue_id %>';

        $('#room header h4').text(chat.member_name);
        $('#collapse4').text('');

        socket.emit('venue_switch', {
                venue: '<%= venue_id %>',
                venue_name: '<%= venue_name %>',
                member: chat.member_id,
                old_room: chat.old_room             
            });
        };

        function onSubmit() {
        var input = document.getElementById("m");
        if(chat.member_id != '') {
                if($('#m').val() != '') {
                    socket.emit('venue_chat', { member: chat.member_id,
                    to: chat.member_name,
                    from: '<%= venue_name %>', 
                    venue: '<%= venue_id %>',
                    message: $('#m').val(),
                    read_status: chat.watch_status
                    });
                } else {
                    alert('Please enter some message');
                }
        } else {
            alert('Please select member to talk');
        }
        input.value = "";
        input.focus();
    };

    // load history log
    socket.on('history_log', function(data , member_room , venue_room){
            if(chat.member_room == data.member_room || chat.venue_room == data.venue_room) {
                $('#collapse4').text('');
            }

          for (var i = 0; i < data.length; i++) { 

              if(chat.venue_room == data[i].chat_room) {
                    $('#collapse4').append('<li class="rightList"><span class="to">' + data[i].message + '</span> <img class="msg_right" src="../../../images/img_r.png"></li>');
              } else if (chat.member_room == data[i].chat_room) {
                    $('#collapse4').append('<li class="leftList"> <img class="msg_left" src="../../../images/img_l.png"> <span class="from">' + data[i].message + '</span> </li>');
              }

          }
    });    

    // venue message
    socket.on('venue_chat', function(room , msg){
        if(chat.venue_room == room) {
            $('#collapse4').append('<li class="rightList"><span class="to">' + msg + '</span> <img class="msg_right" src="../../../images/img_r.png"></li>');
        }
    });    

    // member message
    socket.on('member_chat', function(room , msg){
        if(chat.member_room == room) {
            $('#collapse4').append('<li class="leftList"> <img class="msg_left" src="../../../images/img_l.png"> <span class="from">' + msg + '</span> </li>');
        }
    });

    // disconnect server
    window.onbeforeunload = function () {
        //when venue connection
        socket.emit('venue_disconnect', {
            venue_id: '<%= venue_id %>',
            venue_name: '<%= venue_name %>',
            old_room: chat.old_room
        });
    };  

    </script>

	<script type="text/javascript">
    jQuery(window).load(function() {

        $("#menu > li > a").click(function() { // binding onclick
            if ($(this).parent().hasClass('selected')) {
                $("#menu .selected div div").slideUp(100); // hiding popups
                $("#menu .selected").removeClass("selected");
            } else {
                $("#menu .selected div div").slideUp(100); // hiding popups
                $("#menu .selected").removeClass("selected");

                if ($(this).next(".subs").length) {
                    $(this).parent().addClass("selected"); // display popup
                    $(this).next(".subs").children().slideDown(200);
                }
            }
        });

    });
</script>

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
            <div id="top">
            	<img src="../../../images/logo.png">
            </div>
        <header class="head">
            <div class="main-bar">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span12">
                            Hi ! <%= venue_name %>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="span12">    
        	<div id="left">
            <div id="main">User</div>
        		    <!-- BEGIN MAIN NAVIGATION -->
    <ul id="menu" class="unstyled accordion collapse in">
        <li id="Online" class="accordion-group ">
            <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#Online-List">
                Online
            </a>
            <ul class="in collapse" id="Online-List">                                                    
                <!-- member online -->
            </ul>
        </li>     
        <li id="Offline" class="accordion-group ">
            <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#Offline-List">
                Offline
            </a>
            <ul class="in collapse" id="Offline-List">
                <!-- member offline -->
            </ul>
        </li>             
    </ul>
    <!-- END MAIN NAVIGATION -->
        	</div>
        	<div id="content">
        		<div class="container-fluid outer">
    <div class="row-fluid">
        <!-- .inner -->
        <div id="chat-box" class="span12 inner">
            <!--Begin Datatables-->
            <div class="row-fluid">
                <div class="span12">
                    <div id="room" class="box">
                        <header>
                            <h4>
                            	<!-- text member name -->
                            </h4>
                        </header>
                        <div id="collapse4" class="body">
                            <!-- chat log -->
                      </div>
                      <form id="message-box" onsubmit="onSubmit(); return false;">
    <input id="m" autocomplete="off" data-placeholder="Type a message..." /><button>Send</button>
</form>
                    </div>
                </div>
            </div>
            <!--End Datatables-->
        </div>
        <!-- /.inner -->
    </div>
    <!-- /.row-fluid -->
</div>      	
        	</div>
        </div>

</body>
</html>
